{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        github-replete-repl/replete-shared {:git/url "https://github.com/replete-repl/replete-shared"
                                            :sha "36404110968feaec928267264febf56cbfcd0ee1"}}}
