{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        github-replete-repl/replete-shared {:git/url "https://github.com/replete-repl/replete-shared"
                                            :sha "e738052232ce2256d9345571c1130caeff21ded9"}}}
